<div class="jumbotron text-center">
  <h1>Welcome to tinito</h1>
  <h4>where you can find the cheapest prices online....</h4>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h2 class="text-center">Membership</h2>
        <h4>Pay <span class="plan-price">$79.95</span>/year and receive the best prices you can't find.</h4>
        <%= link_to "Sign Up", new_user_registration_path(plan: @pro_plan), class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
</div>
