<div class="row">
  <div class="col-md-8">
    <%= @product.image_url %>
  </div>
  <div class="col-md-4">
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    <%= number_with_precision(@product.price, precision: 2, delimeter: ",") %>
  </div>
</div>